:root {
  --header-height: 4.5rem;
  --min-card-width: 16rem;
  --max-card-height: 20rem;

  --container-width: 90vw;
  --container-height: 80vh;

  font-size: 10px;
}

body {
  background: #b6dae2;
}

.App {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: grid;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
  font-size: 1.4rem;
}

.container {
  justify-self: center;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;

  min-width: calc(90vw);
  min-height: calc(80vh);
  border-radius: 0.5rem;
  background: yellowgreen;

  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
}

.gameoverOverlay {
  width: 80vw;
  height: 75vh;

  position: absolute;

  color: #fff;
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0.35);

  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 4.2rem;
  font-weight: 500;

  z-index: 1000;
}

.card {
  color: #fff;
  background-color: cornflowerblue;
  border-radius: 1rem;

  position: relative;

  transition: all 0.3s;

  flex-grow: calc(1 / var(--max-card-width));
  flex-shrink: calc(1 / var(--min-card-width));
  display: flex;
  align-items: start;
  justify-content: center;

  z-index: 1;
}

.card .overlay {
  position: absolute;
  border-radius: 1rem;

  z-index: 100;
}

.card img {
  width: 100%;
}

.card label {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  padding: 0 5px 1px 5px;
  border-radius: 0.6rem;
  transform: translateX(-50%);

  font-size: 120%;
  font-weight: bold;
  color: inherit;
  background: rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
  background-color: paleturquoise;
}

.header {
  width: 100vw;
  height: var(--header-height);
  background: hotpink;

  display: grid;
  grid-template-columns: 10% auto 10%;
  justify-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  color: aliceblue;
  font-weight: 500;
  font-size: 120%;
}

.scoreboard {
  color: #222;
  width: max-content;
  height: 100%;
  display: flex;
  gap: 1rem;

  justify-content: center;
  align-items: center;
}

.currentScore,
.highScore {
  border-radius: 4px;
  background: pink;
  font-size: 3rem;
  width: 10rem;
  height: calc(var(--header-height) - 1rem);

  display: flex;
  align-items: center;
  justify-content: center;
}

.currentScoreContainer,
.highScoreContainer {
  position: relative;
}

.scoreboard label {
  color: #333;
  background: yellowgreen;
  border-radius: 2rem;
  padding: 3px 5px;
  width: max-content;
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
}

.currentScoreContainer label {
  right: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.highScoreContainer label {
  left: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.level {
  color: #444;
  background: yellowgreen;

  height: 70%;
  width: max-content;
  font-size: 110%;
  padding: 0 4px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  align-self: center;
  transition: all 0.3s;
}

.level span {
  color: #fff;
  background: hotpink;
  font-size: 120%;
  font-weight: 500;
  border-radius: 5px;
  margin: 5px;
  padding: 0 5px;
}

.playagain {
  width: max-content;
  height: 5rem;
  font-size: 2.6rem;

  border: none;
  background: yellowgreen;
  border-radius: 5px;
}

.playagain:hover {
  background: rgb(100, 135, 30);
  color: #fff;
}

@media screen and (max-width: 480px) {
  :root {
    --header-height: 4rem;
    --min-card-width: 8rem;
    --max-card-width: 8rem;

    font-size: 10px;
  }

  body {
    background-color: #b6dae2;
  }

  .App {
    display: grid;
    grid-template-rows: 50px auto;
  }

  .header {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 50px);
  }

  .container {
    font-size: 0.94rem;
    background-color: lightgreen;
    width: 95lvw;
    /* height: 70lvh !important; */
    height: max-content !important;
    margin-top: 60px;

    justify-items: center;
    align-content: center;

    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, auto));
    column-gap: 5px;
    row-gap: 12px;
    max-width: 95lvw;
  }

  .loading {
    grid-column: 3;
    grid-row: 3;

    justify-self: center;
    align-self: center;
  }

  .logo {
    grid-column: 1;
    grid-row: 1;
    height: 50px;
    margin-left: 10px;
    justify-self: start;
  }

  .level {
    justify-self: end;
    margin-right: 10px;
    grid-column: 2;
    grid-row: 1;
  }

  .scoreboard {
    width: 80%;
    align-self: center;

    grid-column: 1/-1;
    grid-row: 2;
  }

  .scoreboard label {
    font-size: 0.9rem;
  }

  .card {
    width: 100% !important; /* Make the images fill the entire grid cell */
    height: 110% !important; /* Maintain the aspect ratio of the images */
    object-fit: cover; /* Crop the images to fit the container without distortion */
  }

  .card img {
    width: 95%;
  }
}
